/* HEADER */

.App-logo {
    width: 3rem;
}

.App-header {
    width: 100%;
    background-color: #24292e;
    min-height: 1rem;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-size: calc(10px + 2vmin);
    color: white;
    padding: 0.5rem;
    font-size: 0.7rem;
    column-gap: 25rem;
}